:root {
  --bgcolor: #282C34;
  --background: #282C34;
  --bgcolor-alt: #2E323B;
  --bgcolor-alt2: #353538;
  --bgcolor-alt3: #282A36;
  --bghover: #202023;
  --bgselected: #252528;
  --text-color: #bababb;
  --text-muted: #BEBEBF;
  --text-hover:#feb86cd4;
  --text-accent:#BEBEBF;
  --text-accent2:#98981b;
  --text-contrast:#BEBEBF;
  --text-accent3: #feb86cd4;
  --text-links: #6DB7D1;
  --border: #202023;
  --highlight:#0098d4;
  --tagpills:#0000000a;
  --base06: #F0B752; 
  --base09: #7CA851;
  --base05: #8ABBBB; 
  --base0A: #feb86c;
}
.dark-theme {
    color: var(--text-color);
}
.dark-theme .bg-base-3 {
    background-color: var(--bgcolor);
}
.dark-theme {
  --ls-primary-background-color: var(--background);
  --ls-secondary-background-color: var(--bgcolor-alt); 
  --ls-tertiary-background-color: var(--bgcolor-alt);  
  --ls-page-blockquote-border-color: var(--base06);
  --ls-link-text-color: var(--base09);
  --ls-link-text-hover-color: var(--base0A);  
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-search-icon-color: var(--base05);  
  --ls-icon-color: var(--base05);
  --ls-main-content-max-width: 860px;   
}
.dark-theme #search-wrapper {
    color: var(--text-muted);
}
.dark-theme #search_field {
    color: #BEBEBF;
}
.dark-theme a, .dark-theme button.menu {
    color: #BEBEBF;
}
.dark-theme a:hover {
    color: var(--text-hover);
}
.dark-theme a.menu-link:hover, .dark-theme button.menu:focus, .dark-theme button.pull:hover {
    background-color: var(--bghover);
}
.dark-theme a.chosen {
    background-color:#282A36;
}
/*=== h1 h2 ====*/
.dark-theme .page-references h2, .dark-theme h1.title {
    color: var(--text-accent);
}
/* === page ref [[]]===*/
span.page-reference a.page-ref {
    color:#feb86cd4;    
    }
/* === page ref title ===*/
div.hd-control a.page-ref {
    color:#BEBEBF;    
    }

blockquote {
	font-size: 16px;
	background-color: #2E323B;
}

/* == query block 检索块(自用版本) == */
.custom-query {
    background-color: var(--ls-secondary-background-color);
    padding: .0rem .75rem .2rem .75rem;
    margin: 0;
    width: 100%;
   }

.custom-query .opacity-70::before {
    content: "检索式: ";
    color: #efb752;
    display: inline;
   }

/*==================================================*/     
/* === highlight current path by cannnibalox v0.1 ===*/ 
/*==================================================*/

.ls-block .bullet{
    background-color:#dd0707;
}

.ls-block:not(:focus-within) > div:first-child .bullet{
    background-color:var(--ls-block-bullet-color);
}

/* === external links ====*/ 
    a.external-link {border-bottom: 0px;}
    a.external-link:after {
        display:inline-block;
        content:"";
        width: 21px;
        height:16px;
        background: 
            transparent
            50% 200%/54% 
            url('https://svgshare.com/i/SWJ.svg') no-repeat;        
        filter: invert(3%) sepia(100%) saturate(1920%) hue-rotate(0deg) brightness(1419%) contrast(249%);
    }


/* === links ====*/ 	
.dark-theme .content a {
    color:#6DB7D1;
}
/* === arrow block unfold ====*/ 	
a.block-control {
    color:#feb86cd4 !important;
}
/*=== highlights ====*/
mark {
    background: var(--highlight);
}
/* === bullets ====*/ 	
.dark-theme .bullet-container .bullet {
    background-color: var(--text-accent2);
}
.dark-theme .bullet-closed {
    background-color: #bebebf42;
}
a.tag {
    opacity: 0.92;
	color: #FF79C6 !important;
}

/* === backlinks box ====*/ 	
.dark-theme .bg-base-2 {
    background-color:#282C34;
	font-size:15px;
}
.dark-theme #right-sidebar .bg-base-2 {    background-color: #202023db;}
/* === codeblocks ====*/ 	
.dark-theme .non-block-editor textarea, .dark-theme pre, .dark-theme pre.code {
    background: var(--bgcolor-alt3)
}
.dark-theme :not(pre)>code {
    background: var(--bgcolor-alt3);
    color: #84A9DA;
}
/* === right-sidebar ===*/
.dark-theme #right-sidebar {
    background-color: #2E323B;
}
.dark-theme th {
    color: #BEBEBF;
	background-color: var(--bgcolor-alt3);
}	
.dark-theme #right-sidebar .non-block-editor textarea, .dark-theme #right-sidebar pre, .dark-theme #right-sidebar pre.code {
    background:  var(--bgcolor-alt3);
}
/* === rscrollbars===*/
.dark-theme ::-webkit-scrollbar-track-piece{
    background-color:#282C34;border:0px solid var(--text-accent3);border-radius:0px
    }
.dark-theme ::-webkit-scrollbar-thumb:hover{
    background-color:#303f53
    }
.dark-theme ::-webkit-scrollbar-thumb {
    background-color: #282C34;
    border-radius: 0px;
    background-clip: padding-box;
    min-height: 28px;
}   
/*=====settings===*/
.dark-theme .form-select {
    background-color:#202023;
    background-repeat: no-repeat;
}
.border-gray-300 {
    --border-opacity: 1;
    border-color: #d2d6dc;
    border-color: rgba(210,214,220,0);
}   
.form-input {
    appearance: none;
    background-color: #fff;
    border-color: #d2d6dc;
    border-width: 0px;
    border-radius: .375rem;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:var(--text-color) !important;
}
/* === checkboxes ===*/
.form-checkbox {
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    border-color: var(--text-accent2) !important;
	background-color: var(--bgcolor-alt2) !important;
    border-width: 1px;
    border-radius: 50%;
}

.dark-theme tr:nth-child(2n),
.dark-theme tr:nth-child(2n+1) {
    background: var(--bgcolor-alt);
}