/************************ DARK - xulei *************************/

.dark-theme,
html[data-theme=dark] {
    --ls-primary-background-color: #282C34;
    --ls-secondary-background-color: #32353D;
    --ls-tertiary-background-color: #343A3F;
    --ls-quaternary-background-color: #4e6053;
    --ls-table-tr-even-background-color: #362f2e;
    --ls-active-primary-color: #c28eaa;
    --ls-active-secondary-color: #e8d0dc;
    --ls-block-ref-link-text-color: #C9B57A;
    --ls-search-background-color:  var(--ls-primary-background-color);
    --ls-border-color: #0B4A5A;
    --ls-guideline-color: #0B4A5A;
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-primary-text-color: #bababb;
    --ls-secondary-text-color: #dbd7d5;
    --ls-link-text-color: #8ABBBB;
    --ls-link-text-hover-color: #eb8e77;
    --ls-link-ref-text-color: #BF8F5C;
    --ls-link-ref-text-hover-color: #C25A28;
    --ls-tag-text-color: var(--ls-link-text-color);
    --ls-tag-text-hover-color: var(--ls-link-text-hover-color);
    --ls-slide-background-color: var(--ls-primary-background-color);
    --ls-block-bullet-border-color: #bababb;
    --ls-block-bullet-color: #8D8D8F;
    --ls-block-highlight-color: #064645;
    --ls-selection-background-color: #AB3641;
    --ls-page-checkbox-color: #935c62;
    --ls-page-checkbox-border-color: var(--ls-primary-background-color);  
    --ls-page-blockquote-color: var(--ls-primary-text-color);
    --ls-page-blockquote-bg-color: #353840;
    --ls-page-blockquote-border-color: #F0B752;
    --ls-page-inline-code-color: var(--ls-primary-text-color);
    --ls-page-inline-code-bg-color: #666463;
    --ls-scrollbar-foreground-color: rgba(255, 255, 255, 0.05);
    --ls-scrollbar-background-color: rgba(40, 44, 52, 0.9);
    --ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);
    --ls-icon-color: #8ABBBB;
    --ls-search-icon-color: #8ABBBB;
    --ls-a-chosen-bg: var(--ls-quaternary-background-color);
    --ls-head-text-color: #9e836d;  
    --ls-right-sidebar-code-bg-color: #282C34;
    --color-level-1: var(--ls-secondary-background-color);
    --color-level-2: var(--ls-tertiary-background-color);
    --color-level-3: var(--ls-quaternary-background-color);
    --color-level-4: #632f46;
    --color-level-5: #865673;
    --color-level-6: #9e6889;
    --bgcolor-alt2: #70998F;  
    --ls-a-chosen-bg: #4e6053;  
}


/***************************************************************
***************************** TOP ******************************
***************************************************************/


/* gradient on top for aesthetics */

.dark-theme .cp__sidebar-main-content:before {
    background: linear-gradient(to bottom, rgba(46, 50, 59, .7) 0%, rgba(46, 50, 59, 0) 100%);
}

.dark-theme .cp__sidebar-main-content:after {
    background: linear-gradient(to top, rgba(46, 50, 59, .7) 0%, rgba(46, 50, 59, 0) 100%);
}


/* < > buttons */

.dark-theme a[title="Go Back"],
.dark-theme a[title="Go Forward"] {
    background: var(--ls-primary-background-color);
}

.dark-theme a[title="Go Back"]:hover,
.dark-theme a[title="Go Forward"]:hover {
    background: var(--ls-secondary-background-color);
}

/* search-field */

.dark-theme #search_field {
    background: linear-gradient(to right, rgba(24, 24, 24, 1) 0%, rgba(24, 24, 24, .7) 200px, rgba(24, 24, 24, 0) 100%);
    transition: background .3s;
 	width: 600px;  
}

.dark-theme #search_field:focus {
    box-shadow: 0px 0px 20px 0px rgba(18, 18, 18, .8);
}

a.chosen {
  font-weight: bold;
}

/***************************************************************
************************** MAIN AREA ***************************
***************************************************************/


/* title menu ... */

.dark-theme [title="More options"] svg {
    color: #ab6341;
}


/* text mark/highlight */

.dark-theme mark {
    background: #196755;
    color: #e0d3c9;
  	font-size: 16px;
}


/* bold and italics */

.dark-theme b,
.dark-theme strong,
.dark-theme i {
    color: #baa695;
}


/* page reference */

.dark-theme .page-reference:hover {
    background: var(--ls-tertiary-background-color);
}

.dark-theme .references-blocks .page-reference:hover {
    background: var(--ls-tertiary-background-color);
}

.dark-theme .page-reference .text-gray-500 {
    /* page brackets */
    opacity: .5;
}

.ls-block .done {
    opacity:0.6;
}

/*==================================================*/
/* == block ref == */
/*==================================================*/
.block-ref {
  color: var(--ls-block-ref-link-text-color);
  padding-bottom: 0px;
  border-bottom: -0px solid;
  border-bottom-color: var(--ls-block-ref-link-text-color);
  cursor: alias;
  text-decoration: underline;
}


/*==================================================*/
/* === highlight current path by cannnibalox v0.1 ===*/
/*==================================================*/

.ls-block .bullet {
  background-color: #12718A;
}

.ls-block:focus-within{
    color: #EFB752;
    }  

.block-editor{
    color: var(--ls-primary-text-color);
    } 

.ls-block:not(:focus-within){
    color: var(--ls-primary-text-color);
    } 

.ls-block:not(:focus-within) > div:first-child .bullet {
  background-color: var(--ls-block-bullet-color);
}


/*==================================================*/
/* == block properties == */
/*==================================================*/
.blocks-properties {
  opacity: 0.4;
  background-color: #42444A;
  padding: .0rem .75rem .0rem .45rem;
}

/* == query block 检索块(自用版本) == */
.custom-query {
    background-color: var(--ls-secondary-background-color);
    opacity: 0.85; 
  	padding: 0 0 0.5% 0;
    margin: 0;
    width: 100%;

   }

.custom-query > .flex.flex-col {
    border: 1.5px dashed;
    border-color:#f5c5a7;  
 
}

/* css columns view for child blocks by cannibalox v20210220 */
/* use: inline tag #kanban, #kanban-small or #kanban-wXXX    */
/* try:  #kanban-w200,#kanban-w300, #kanban-w400             */

div[data-refs-self*="kanban"] > .block-children {
	display: inline-flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 10px;
	}
div[data-refs-self*="kanban"] >.block-children > div {
	display: inline-block;
	width: 400px;
	padding-right: 3px;
	}

/* #kanbansmall : smaller font with hover zoom */
div[data-refs-self*="kanban-small"] > .block-children .block-content {
	font-size: 11px;
	font-weight: 300;
}
div[data-refs-self*="kanban-small"] > .block-children .block-content:hover {
	font-size: 14px !important;
	min-width: 100px;
	margin: 0 10px;
}
/* #kanban-w[100-300] : force width of the columns */
div[data-refs-self*="kanban-w100"] > .block-children .block-content {
	width:100px;
}
div[data-refs-self*="kanban-w200"] > .block-children .block-content {
	width:200px;
}
div[data-refs-self*="kanban-w300"] > .block-children .block-content {
	width:300px;
}
div[data-refs-self*="kanban-w300"] > .block-children {
	border: 1px solid var(--ls-block-bullet-border-color);
	padding: 10px 0;
}
div[data-refs-self*="kanban-w400"] > .block-children .block-content {
	width:380px;
}

/* ---------------- 标题 -----------------*/

.tag[href*="/h-"] {
    	display:none !important;  
}

.tag[href*="/h-h2"] + mark, 
.tag[href*="/h-h2"] + .page-reference > .page-ref {
    color: #EFB752 !important;
	font-weight: bold;
  	font-size: 22px;
	background-color: transparent !important;
}

.tag[href*="/h-h3"] + mark, 
.tag[href*="/h-h3"] + .page-reference > .page-ref {
    color: #EFB752 !important;
	font-weight: bold;
  	font-size: 20px;
	background-color: transparent !important;
}

.tag[href*="/h-h4"] + mark, 
.tag[href*="/h-h4"] + .page-reference > .page-ref {
    color: #EFB752 !important;
	font-weight: bold;
  	font-size: 18px;
	background-color: transparent !important;
}

/*------------ CUSTOM COLORS ------------------*/

/*
Title: Custom colors for Logseq
Author:: @CatoMinor3
Version:: 1
Date:: February 6, 2021
Support: 
- Paypal: https://www.paypal.me/catominor3
- Patreon: https://www.patreon.com/catominor
How to use this? Simply write c:COLOR (see supported colors below) and follow it with 
the highlighted text, bold text or iphasis. 
*/

/* ---------------- Roam colors -----------------*/

/*Supporter colors:
https://github.com/mrmrs/colors
.purple紫色 { color: #533E7D; }
.green绿 { color: #497D46; }
.lightPurple浅紫 { color: #787F97; }
.orange深橙 { color: #978626; }
.purpleBlue紫蓝 { color: #49767B; }
.blue { color: #264C9B; }
.red酒红 { color: #793E3E; }
*/


.tag[href*="/c-"] {
    	display:none !important;  
}

.tag[href*="/c-"] + mark, 
.tag[href*="/c-"] + .page-reference > .page-ref {
    color: white !important;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.tag[href*="/c-blue"] + mark,
.tag[href*="/c-blue"] + .page-reference > .page-ref {
	background-color: #264C9B !important;
}



.tag[href*="/c-blue"] + i, 
.tag[href*="/c-blue"] + b {
    color: #264C9B;
    
}

.tag[href*="/c-purpleBlue"] + mark,
.tag[href*="/c-purpleBlue"] + .page-reference > .page-ref {
	background-color: #49767B !important;
}

.tag[href*="/c-purpleBlue"] + i, 
.tag[href*="/c-purpleBlue"] + b {
    color: #49767B;
    
}

.tag[href*="/c-lightPurple"] + mark,
.tag[href*="/c-lightPurple"] + .page-reference > .page-ref {
	background-color: #787F97 !important;
}


.tag[href*="/c-lightPurple"] + i,
.tag[href*="/c-lightPurple"] + b {
    color: #787F97;
    
}


.tag[href*="/c-green"] + mark,
.tag[href*="/c-green"] + .page-reference > .page-ref {
	background-color: #497D46 !important;
}

.tag[href*="/c-green"] + i,
.tag[href*="/c-green"] + b {
    color: #497D46;
    
}


.tag[href*="/c-orange"] + mark,
.tag[href*="/c-orange"] + .page-reference > .page-ref {

	background-color: #978626 !important;

}

.tag[href*="/c-orange"] + i,
.tag[href*="/c-orange"] + b {
    color: #978626;
    
}


.tag[href*="/c-red"] + mark,
.tag[href*="/c-red"] + .page-reference > .page-ref {

	background-color: #793E3E !important;

}

.tag[href*="/c-red"] + i,
.tag[href*="/c-red"] + b
{
    color: #793E3E;
    
}



.tag[href*="/c-purple"] + mark,
.tag[href*="/c-purple"] + .page-reference > .page-ref {

	background-color: #533E7D !important;

}

.tag[href*="/c-purple"] + i,
.tag[href*="/c-purple"] + b {
    
    color: #533E7D;
}


/* === external links ====*/ 
    a.external-link {border-bottom: 0px;}
    a.external-link:after {
        display:inline-block;
        content:"";
        width: 21px;
        height:16px;
        background: 
            transparent
            50% 200%/54% 
            url('https://svgshare.com/i/SWJ.svg') no-repeat;        
        filter: invert(3%) sepia(100%) saturate(1920%) hue-rotate(0deg) brightness(1419%) contrast(249%);
    }

a.tag {
  	opacity: 0.92;
	color: #FF79C6 !important;	
  	font-size: 16px;
}

/* === 修改主编辑区域的界面宽度 ===*/
.white-theme {
  --ls-main-content-max-width: 750px;
}

.dark-theme {
  --ls-main-content-max-width: 750px;
}


#contents span.opacity-50 {
    opacity: 0;
}

#contents .logseq-tools-calendar h2 {
    margin-top: -25px;
}

.logseq-tools-multiple-calendars {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

:not(#contents) .logseq-tools-multiple-calendars .logseq-tools-calendar {
    flex: 0 50%;
    box-sizing: border-box;
    padding: 0 15px;
}

.logseq-tools-calendar tr {
    background: none !important;
}

.logseq-tools-calendar th,
.logseq-tools-calendar td,
.logseq-tools-calendar tr {
    border: none;
}

.logseq-tools-calendar th,
.logseq-tools-calendar td {
    text-align: center;
}


/* pages from other months */

.logseq-tools-calendar .outofmonth {
    opacity: .3;
}

.logseq-tools-calendar .today {
    font-weight: 900;
    color: var(--ls-link-text-color);
}

.logseq-tools-calendar .page-exists {
    border-bottom: 1px solid var(--ls-link-ref-text-color);
}

.logseq-tools-calendar .today.page-exists {
    border-bottom-color: var(--ls-link-text-color);
}


/* if you want to add different styling for pages that not exists yet */

.logseq-tools-calendar .page-ref:not(.page-exists):not(.today) {
    /* color: violet; */
}
    

/* === checkboxes ===*/
.form-checkbox {
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    border-color: #98981b; !important;
	background-color: var(--bgcolor-alt2) !important;
    border-width: 1px;
    border-radius: 50%;
}


/* block reference */




/* selected block or higlighted page link */

.dark-theme .ls-block.selected .page-reference:hover,
.dark-theme mark .page-reference:hover {
    background: #145042;
}

.dark-theme .ls-block.selected .page-ref,
.dark-theme mark .page-ref {
    color: #fff;
}

.dark-theme .ls-block.selected .page-ref:hover,
.dark-theme mark .page-ref:hover {
    color: #f7f7e8;
}


/* checkbox */

.dark-theme .marker-switch {
    color: #000;
    background: #70998F;
}

.dark-theme .marker-switch:hover {
    background: #4D4747;
}


/***************************************************************
************************ RIGHT SIDEBAR *************************
***************************************************************/

.dark-theme .cp__right-sidebar.is-open {
    background: rgba(46, 50, 59, .05);
}


/***************************************************************
**************************** MISC ******************************
***************************************************************/


/* dotted bg */

.dark-theme #app-container {
    background-image: radial-gradient(#423019 5%, #282C34 5%);
    background-position: 0 0;
    background-size: 25px 25px;
}

.dark-theme textarea {
    caret-color: #a79486;
}

.dark-theme ::selection {
    background: #4F74A1;
    color: #c4b2a6;
}


/* settings switcher */

.dark-theme .bg-indigo-600 {
    background: #dd745b;
}

.dark-theme .bg-indigo-600:hover {
    background: #eb8e77;
}